.switch {
  position: fixed;
  top: 14px;
  right: 10px;
  z-index: 2;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  width: 0;

}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0 15px #ccc;
  background: white url('https://cdn-0.emojis.wiki/emoji-pics/google/white-circle-google.png') no-repeat center;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2020203d;
}

input:checked + .slider:before {
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('https://cdn-0.emojis.wiki/emoji-pics/google/white-circle-google.png') no-repeat center;
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

